.wequit-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.25);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999999999;
}

.wequit-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 200px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  background-color: red;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999999;

  > div {
    font-size: 4rem;
    font-weight: bold;
    color: white;
  }
}
